.background {
  background-image: url("https://asset.kompas.com/crops/5WXmIjPLHkI60fF3Vr5EYACVONE=/0x0:780x520/750x500/data/photo/2020/11/16/5fb214bc2d6ee.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  text-align: left;
}

